 <div class="user-details">
  <h1> Hi, my name is Raúl </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <!-- <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p>Python, Django, Node.js, Express.js, Javascript and React</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <!-- <i class="devicon-github-original"></i> -->
      <i class="devicon-heroku-plain colored"></i>
      <p>Git, UNIX, Heroku, REST and GraphQL</p>
    </div>
</div>
