<div class="contact" id="contact">
<h1>Contact</h1>
<form method="POST" action="https://formspree.io/raulstuf@gmail.com">
  <label for="name">Name</label>
  <input name="name" placeholder="Your Name / Company" type="text">
  <label for="email">Email</label>
  <input name="email" placeholder="Your email" type="email">
  <label for="subject">Subject</label>
  <textarea rows="6" name="message" placeholder="Your message"></textarea>
  <button class="submit project-link" type="submit">Send</button>
</form>
</div>
