<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="LyrixsBot" src="{{ "/assets/img/lyrixs_bot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> LyrixsBot </h3>
    <ul>
      <li> Python 3.5, Telegram Bot API, Genius API</li>
    </ul>
    <p>LyrixsBot is a Telegram bot who allows user to look for song lyrics within the Telegram app.
    Simplily by sending a message to the bot with the song title or a part of the lyrics of the song.
  The bot integrates with the API of Genius Lyrics and search the Lyrics in the page database, then retrieving to the user.</p>
    <a class="project-link" href="http://t.me/lyrixs_bot">Check on Telegram</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="CortazarBot" src="{{ "/assets/img/cortazar_bot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CortazarBot </h3>
    <ul>
      <li> Python, Twitter API, JSON Scraping</li>
    </ul>
    <p>This Bot automates a Twitter account to tweet quotes from Julio Cortazar in various intervals of time. The quotes are extracted from The Wikiquote's API. This bot was deployed using Heroku</p>
    <a class="project-link" href="https://twitter.com/CortazarBot">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Portafolio" src="{{ "/assets/img/portafolio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Portafolio </h3>
    <ul>
      <li> HTML, Sass, jQuery, Bootstrap</li>
    </ul>
    <p>This Personal Portafolio Website was designed as a requiered project for the FreeCodeCamp Frontend Certification Curriculum. To show the skills adquired at the moment. We had the freedom to choose technologies. I decided to style using Bootstrap and Sass preprocessor.</p>
    <a class="project-link" href="https://codepen.io/rjchirinos/full/yjrwvK/">Check Demo</a>
  </div>
</div>
